.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}
.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
}

.card-img {
  position: relative;
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
  border-radius: 10px;
  object-fit: cover;
}

.card-title {
  margin-bottom: 1rem;
}

.bag-icon {
  color: #535353;
}
.badge {
  position: absolute;
  right: 4;

  border-radius: 9999px; /* rounded-full */
  background-color: rgba(240, 132, 206, 0.9); /* bg-white/90 */
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  font-size: 0.95rem; /* text-xs */
  font-weight: 600;
}

.issued {
  color: green;
}

.rejected {
  color: red;
}
